// #### GLOBALS ####
$primary: #5aa4cf
$primary-light: lighten($primary, 10%)
$primary-hover: darken($primary, 1%)
$primary-darken: darken($primary, 5%)
$title: #525256

// #### FACTS ####
$background-fact-active: #FFFFFF
$fact-message: #000000
$fact-message-disabled: #FFFFFF
$fact-border-disabled: #FFFFFF

// #### FRAMES ####
$background-frames-left: #FFFFFF
$background-frames-right: transparent linear-gradient(44deg, #FFFFFF -10%, $primary 100%) 0% 0% no-repeat
$background-frames-right-inverted: transparent linear-gradient(15deg, $primary -120%, #FFFFFF 100%) 0% 0% no-repeat