// #### GLOBALS ####
$primary: #F16521
$primary-light: #ED6E2D
$primary-darken: #D95129

// #### FACTS ####
$background-fact-active: #FFFFFF
$fact-message: #000000
$fact-message-disabled: #FFFFFF
$fact-border-disabled: #FFFFFF

// #### CONTAINER ####
$background-container-left: #ffffff
$background-container-right: transparent linear-gradient(44deg, #FEFFED 0%, $primary 100%) 0% 0% no-repeat